header{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);  
    background-repeat: repeat-x;
}

#logo{
    height: 100px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 0px;
}

h1{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

small{
    font-size: 13px;
}

#foto_iniziali{
    font-size: 22px;
    color: grey;
}
th{
    min-width: 200px;
    text-align: left;
}

#scrittore{
    color: #20A9E5;
}
body{
    font-size: 20px;
}

table{
    border-collapse: collapse;
}

thead{
    background-color: #20A9E5;
}

.azzurro{
    background-color: #B1E5F2;
}