header{
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);  
    background-repeat: repeat-x;
}

#logo{
    height: 100px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 0px;
}

h1{
    font-size: 60px;
}